:root{
    /* CUSTOM PROPERTIES */
    --white: #ffffff;
    --dark: #212121;
    --primary: rgb(255, 193, 7);
    --secondary: #0097a7;
    --grey: #757575;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 16px; /* 1rem==10px */
    font-family: 'Krub', sans-serif;
}
.title {
    text-align: center;
    font-size: 3.8rem;
}
.title span {
    font-size: 2rem;
}

.container {
    width: 120rem;
    margin: 0 auto;
}
.nav-bg {
    background-color: var(--secondary);
}
.navigation-principal {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.navigation-principal a {
    color: var(--white);
    text-decoration: none;
}
